<div class="intro">
	<p><img class="coliseo" src="https://camo.githubusercontent.com/41a71af7a568072aef542a3676aded5c7764efe6/68747470733a2f2f63646e2e7261776769742e636f6d2f6c6d7563732f436f6c6973656f2f6d61737465722f6c6f676f2e737667"></p>

	<p>{{aboutColiseo}}</p>

	<p>{{{wikiLocation}}}</p>

	<p>{{{graphicLocation}}}</p>
</div>
