<div class="intro">
	<p><img class="coliseo" src="https://camo.githubusercontent.com/41a71af7a568072aef542a3676aded5c7764efe6/68747470733a2f2f63646e2e7261776769742e636f6d2f6c6d7563732f436f6c6973656f2f6d61737465722f6c6f676f2e737667"></p>

	<p>An Oculus Rift game built in a semester for CMSI 401 at LMU. Consists of an Unity Game and a Node.js leaderboard server.</p>

	<p>The Wiki is located: <a class="wiki" href="https://github.com/lmucs/Coliseo/wiki">here</a></p>

	<p>Coliseum graphic by <a class="freepik" href="http://www.freepik.com/">Freepik</a> from <a class="flaticon" href="http://www.flaticon.com">Flaticon</a> is licensed under <a class="cc" href="http://creativecommons.org/licenses/by/3.0/">"Creative Commons BY 3.0"</a>. Made with <a class="logomaker" href="http://logomakr.com">"Logo Maker"</a></p>

	<!-- ![Coliseo](https://cdn.rawgit.com/lmucs/Coliseo/master/logo.svg)

	An Oculus Rift game built in a semester for CMSI 401 at LMU. Consists of an Unity Game and a Node.js leaderboard server.

	The game is in the Game folder, and the leaderboard in the Leaderboard folder. More specific information can be found on the [wiki](https://github.com/lmucs/Coliseo/wiki).

	Coliseum graphic by [Freepik](http://www.freepik.com/) from [Flaticon](http://www.flaticon.com) is licensed under [CC BY 3.0](http://creativecommons.org/licenses/by/3.0/ "Creative Commons BY 3.0"). Made with [Logo Maker](http://logomakr.com "Logo Maker") -->
</div>