<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-400">
  <main class="mdl-layout__content">
    <div class="customContainer">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Username</th>
            <th>Score</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          {{#each scores}}
            <tr>
              {{! Material design light doens't let us make the entire table
                  row a link, so we have to hack it in by setting the <a>
                  element width and height to 100%, and linking every attribute
                  to the user profile page. Doing it with just the username
                  doesn't work because the table bounderies aren't very clear}}
              <td class="mdl-data-table__cell--non-numeric">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect"
                   href="/leaderboard/user/{{username}}">
                  {{username}}
                </a>
              </td>
              <td class="Score">{{score}}</td>
              <td class="Rank">{{counter @index}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </main>
</div>
<!--
{{#extend "scripts"}}
  <script src="/scripts/register.js"></script>
{{/extend}}
-->
