<div>
  <div class="demo-card-event mdl-card mdl-shadow--2dp center wrapper">
    <div>
      <h4 class="user">User Profile</h4>
    </div>
    <div class="mdl-card__title mdl-card--expand">
      <div>
        <p class="username">USERNAME</p>
        <p class="highscore">High Score: </p><br>
        <p class="bio">Bio: </p>
      </div>
    </div>
  </div>
</div>

<!-- {{#extend "scripts"}}
  <script src="/scripts/register.js"></script>
{{/extend}} -->