/*#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}*/

.customContainer {
  background: white;
}

.title {
	text-decoration: none;
}

.wiki, .freepik, .flaticon, .cc, .logomaker {
	color: #FFF;
}

.leaderboard {
  max-width: 100%;
}

.mdl-data-table {
  vertical-align: top;
  width: 100%;
}

.highscore, .bio {
  width: 100%;
  display: inline-block;
}

.bio {
  float: right;
}

.highscore {
  float: left;
}

.about {
  margin-left: 20px;
}

a {
  color: #000000 !important;
}

.logo {
	height: 50px;
}

.mdl-layout__drawer.is-visible {
  width: 300px;
}

.mdl-layout__drawer-button {
  background: wheat !important;
}
.mdl-layout__header-row{
  background-color: wheat;
}

.material-icons {
 color: rgba(0, 0, 0, 0.54);
}

.coliseo{
	margin-top: 15px;
	padding: 20px;
}

a.mdl-navigation__link:hover {
  color: maroon !important;
  zoom: 120%;
}

.intro{
  margin: auto;
	text-align: center;
}

.user {
  text-align: center;
  color: #FFF;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  zoom: 150%;
  border: 5px solid;
  zoom: 150%;
}

.mdl-layout-title {
	border: 2px;
}

.userPage {
  width: 49%;
  float: center;
  padding:.3%;
  margin: 0px;
  display: inline-block;
}

p.form-error {
  font: 12px "Roboto Regular", sans-serif;
  color: #DD2C00;
}

/*.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background-color: SaddleBrown;
  overflow: auto;
}

.demo-card-event .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}*/

.demo-card-wide.mdl-card {
  width: 100%;
  height: 450px;
}

.demo-card-wide.mdl-card__title {
  color: black;
  overflow: auto;
}

textarea {
  max-height: 50%
}

button {
  float: right;
}

.scores{
  max-height: 80%;
  overflow: auto;
  margin-bottom: 20px;
}