/*#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}*/

.customContainer {
  margin: auto;
}

.title {
	text-decoration: none;
}

.wiki, .freepik, .flaticon, .cc, .logomaker {
	color: #FFF;
}

.mdl-data-table {
  vertical-align: top;
  width: 50%;
  margin: auto;
}

a {
  color: #000000 !important;
}

.logo {
	height: 50px;
}

.coliseo{
	margin-top: 15px;
	padding: 20px;
}

a.mdl-navigation__link:hover {
  color: maroon !important;
  zoom: 120%;
}

.intro{
  margin: auto;
	text-align: center;
}

.user {
  text-align: center;
  color: #FFF;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  zoom: 150%;
  border: 5px solid;
  zoom: 150%;
}

.mdl-layout-title {
	border: 2px;
}

p.form-error {
  font: 12px "Roboto Regular", sans-serif;
  color: #DD2C00;
}

.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
}

.demo-card-event .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.demo-card-event .mdl-card__title,
.demo-card-event .mdl-card__actions,
.demo-card-event .mdl-card__actions .mdl-button {
  color: #fff;
}

table tr td a {
  display:block;
  height:100%;
  width:100%;
  text-decoration: none;
}

table tr td {
    padding-left: 0;
    padding-right: 0;
}
